@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../public/fonts/mont.ttf') format('opentype');
}

@font-face {
  font-family: 'Chillow';
  src: local('Chillow'), url('../public/fonts/Chillow-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans'), url('../public/fonts/WorkSans-VariableFont_wght.ttf') format('opentype');
}

@font-face {
  font-family: 'Eazy';
  src: local('Eazy'), url('../public/fonts/Eazy_chat.ttf') format('opentype');
}

@font-face {
  font-family: "Jangkuy";
  src: local("Jangkuy"), url("../public/fonts/jangkuy.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: WorkSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #0A0A0A;
    
}
.modal-box {
  overflow-y: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.wallet-adapter-button{
  justify-content: center !important;
}

.wallet-adapter-button.wallet-adapter-button-trigger {
  white-space: nowrap;
}

.wallet-adapter-button .wallet-adapter-button-start-icon {
  margin-right: 5px;
}


@media (min-width: 768px) {
  .Toastify__toast-container--top-center {
    top: 4em !important;
  }
}
.Toastify__toast-container--top-center .Toastify__toast-theme--dark {
  background-color: #181830;
}

